body {
    font-family: Helvetica;
}

nav {
    background: linear-gradient
    (90deg,rgb(145, 98, 82)) 0%,
     rgb(179, 166, 143) 35%, 
     rgb(15, 109, 87) 100%;
     height: 80px;
     width: 100%;
}

nav ul {
    float: left;
    margin-left: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 25px;
    margin: 5px;
}

nav ul li a {
    color: rgb(141, 93, 93);
    font-size: 20px;
    padding: 7px 10px;
}
/*esto lo saque de un video porque no sabía qué hacer*/
a.active, a:hover {
    color: #FFF;
    font-weight: 100;
    background: linear-gradient(90deg, rgb(53, 150, 145) 40%,
    rgb(106, 177, 171) 100%);
} 

.welcome {
    color: rgb(30, 134, 141);
}

.email {
    background-color: rgb(180, 136, 120);
    color: white
}

.password {
    background-color: rgb(180, 136, 120);
    color: white
}

.seccionTip {
    background-color: rgb(93, 119, 128);
    color: white;
}

.tip {
    color:rgb(231, 233, 115);
}

.bordeMapa {
    width: 600;
    height: 450;
    border: 5px rgb(18, 136, 145) solid;
}

.bordeVideo {
    width: 560;
    height: 315;
    border: 5px rgb(18, 136, 145) solid;
}

.tipoMascota {
    background-color: rgb(180, 136, 120);
    color: white;
}